/* Write your code here. */
body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Bree Serif;
  color: white;
  font-weight: 700;
}

.button-container {
  display: flex;
}

button {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.like {
  background-color: #eab308;
  color: white;
}

.comment {
  background-color: white;
  color: #323f4b;
}

.share {
  background-color: #1d4ed8;
  color: white;
}
